

.header{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    align-items: center;
    border-bottom: 1px solid #515369;
}
.nav{
    display: flex;
    font-size: 13px;
    font-weight: 700;
}
.nav__link{
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
    transition: opacity .1s linear;
}
.nav__link:first-child{
    margin-left: 0;
}
.nav__link:hover{
    opacity: 1; 
}

